@font-face {
    font-family: horror-font;
    src: url("../fonts/doublefeature.eot");

    src: url("../fonts/doublefeature.eot?#iefix") format("embedded-opentype"),
        url("../fonts/doublefeature.woff") format("woff"),
        url("../fonts/doublefeature.svg#horror-font") format("svg"),
        url("../fonts/doublefeature.woff2") format('woff2'),
        url("..fonts/doublefeature.ttf") format("truetype");
}

/*Custom font, laoded from the resources of the page. I have attempted a "bulletproof" font, which means that it should be supported by all browsers. This is done by providing as many
formats for the font as possible. */
html {
    background-color: black;
    background-image: url("../images/icecream-logo1.png");
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    background-image: linear-gradient(rgba(211, 211, 211, 0.377), rgba(211, 211, 211, 0.2));
    padding-bottom: 2.5%;

}

body, a, button {
    color: white;
}

html,body {
    min-height: 100vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    overflow: auto;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

html#frontpage {
    background-size: cover;
    background-image: url("../images/skull-bg.jpg");
}

/*Rules for html and body, ensuring desired margin, backgrounds, and background behaviour*/
footer {
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #363636;
    border-radius: 0 0 20px 20px;
    padding: 0 10px;
    display: flex;
}
footer > * {
    align-self: center;
}
footer>p {
    display: inline-block;
    padding: 10px 5px;
    margin: 0;
}

footer,button#topbutton,button#topbuttonsmall {
    font-size: 0.8em;
    flex-shrink: 0;
}

button#topbutton,button#topbuttonsmall {
    display: block;
    margin: 0 auto;
}
div.sitemap-div{
    flex-basis: 15%;
    margin: 10px 0;
}
ul#sitemap{
    display: table-cell;
    list-style: none;
    flex-wrap: wrap;
}
ul#sitemap>li{
    flex-basis: 45%;
    padding: 0 5px;
    display: inline;
    text-align: center;
}
ul#sitemap>li>a{
    padding: 0;
    line-height: unset;
}
main, footer{
    max-width: 1200px;
}
/*footer styling. a bit of shrinkage on the text, and text-alignment*/
main>.left,main>.right {
    margin: 1rem;
}
div.contentwrapper {
    margin: 0 5%;
}

/* Margin settings for .left and .right childern of main .left and .right are given to divs. These classes are explored later in this document*/
nav {
    margin: 0;
}

#home-link {
    align-self: center;
}

img.decorative-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

li#image-link {
    background: url("../images/glow-decoration.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li>a {
    display: table-cell;
    height: 100%;
    width: 100%;
}

ul#nav-list>li>a:hover {
    font-size: 1.5em;
}

nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#home-image {
    max-width: 200px;
    padding: 15px 0;
    display: block;
    align-self: center;
}

#home-image:hover {
    background-image: url("../images/teeth-decoration.png");
    background-size: contain;
    background-repeat: no-repeat;
}

ul#nav-list,ul.horisontal-list, ul#sitemap {
    padding: 0;
}
ul#nav-list, ul.horisontal-list{
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

ul#nav-list {
    background-color: #A10416;
    margin-bottom: 0.5%;
    box-shadow: 3px 3px 5px 10px rgba(0, 0, 0, 0.329);
}

ul.horisontal-list>li {
    display: inline;
}

ul#nav-list>li,
ul#nav-list>li>a:visited,
ul#nav-list>li>a:link {
    display: inline;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    line-height: 2.5em;
    font-size: 1.25em;
    align-self: center;
}

/*Styling for the navigation bar located at the top of the page. I used flex box for this, as it was a simple way of providing 
even spacing and flexibility. The elements of the navbar are set inside a list, as the links are, in fact, listed.*/
main.content-box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 150px minmax(300px, 1fr) auto;
    /*I decided to use grid for the main part of the page, both because it is a developer-friendly and time-efficient way of setting up
    a layout*/
    border: solid 4px #363636;
    background-color: rgba(54, 54, 54, 0.247);
    border-radius: 10px;
    /*Gives the main a border, and rounds off the corners with border-radius*/
    margin: 0 auto;
    /*Margin: 0 auto, ensures no top and bottom margin, and centers the box thanks to the automatic left and right margin */
    min-height: 75vh;
    /*Setting the minimum height to be at least 75% of vertical viewport space (vh)*/
}

.tombstone {
    border: 10px solid rgba(12, 12, 12, 0.158);
    border-radius: 10px 10px 10px 10px;
    background-color: #363636;
    padding: 2% 5%;
    margin: 0% 5%;
    overflow: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
}

/*the "tombstone" class has a mostly stilistic purpose, in that it supplies background and border for the boxes with the class, as well as some shadows*/
main.content-box>article,.left {
    grid-column-end: span 3;
}

.left,.right {
    text-align: center;
    display: grid;
    grid-row-gap: 20px;
}

.right {
    grid-column-start: 4;
    grid-column-end: span 2;
}

div.long {
    grid-row-end: span 2;
}

.left-aligned {
    align-items: flex-end;
    justify-content: flex-end;
}

.center {
    grid-column-start: 2;
    grid-column-end: span 3;
    margin-bottom: 1rem;
}

.grid-header {
    grid-column-start: 1;
    grid-column-end: span 5;
}

/*left, right, and center are "placement-classes". These classes serve to place the boxes on the grid. The right, for example, starts the box
on the fourth column-line, and has it span it's way to the sixth (span 2 from a  start at 4)*/
.centered-content,.centered-flex {
    justify-content: space-between;
    align-items: center;
}

.centered-flex {
    flex-direction: column;
    display: flex;
}

.twitter-timeline {
    align-self: flex-end;
}

/*These classes are used to place the children within boxes. The left and rights are by default grids, and the above classes serve to align the contents as need be.
One of the classes also chenges the box to a flex box.*/
span.price,
strong,h1,h2,h3,
button,p.menu-list-p,
address>a:link,
legend {
    letter-spacing: 0.2em;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-family: horror-font, 'Times New Roman', Times, serif;
    align-items: center;
}

/*Styling for many of the text-related elements of the page*/
strong {
    font-weight: normal;
}

/*removing the baldness of strong*/

header {
    position: sticky;
    top: 0px;
}

/*This piece of code "sticks" the header to the top of the page, so that when the page is scrolled, the navigation banner will follow along.*/

h1 {
    height: 100%;
    line-height: 150px;
    font-size: 2.2em;
    margin: 0;
}

/*some adjustments for the heading, like sizing and line-height. TO NOTE: I used EM here specifically because I wanted to change the size of text as the viewport gets smaller. By
using em, the h1 will change as the font-size of the body changes, and i therefore have to write less code. */
h1,h2,h3 {
    text-transform: uppercase;
}

/*Making sure the headers are all UPPERCASE LETTERS*/

button {
    background-color: #363636;
    border-radius: 20px;
    border: groove 2px #A10416;
    margin: 5px 0;
}

button#topbuttonsmall {
    display: none;
}

/*styling for buttons and the topbutton*/
button:hover,.interactable:hover {
    background-color: white;
    text-shadow: none;
    color: #363636
}

/*the buttons change style when hovered, that is taken care of here*/
.rock-animated {
    animation: 1s ease-out 1 rocking;
}

.left-entering {
    animation: 0.5s ease-in 1 enter-left;
}

.stretch {
    animation: 0.5s ease-in-out 1 stretch;
}

.fade-in {
    animation: 1s ease-in-out 3 alternate fade-in;
}

.fade-in-prolonged {
    animation: 2.5s ease-in 1 slowfade;
}

/*These classes excist exclusively to provide animations for HTML elements. Instead of tying animations to specific element, I create these specified classes so
I can reuse the animations without carrying along any extra "baggage". The downside to this approach is that some space in the CSS will have to be dedicated to these classes,
but I founc it a modular and effetive way of implementing reusable animations*/

@keyframes stretch {
    0% {
        font-size: 0.2em;
    }

    50% {
        font-size: 2.7em;
    }

    75% {
        font-size: 0.2em;
    }

    100% {
        font-size: 2.2em;
    }
}

@keyframes slowfade {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enter-left {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*The animations that were created and used*/
@media screen and (max-width: 900px) {
    main.content-box, footer {
        margin: 0 1%;
    }
    main.content-box{
        grid-template-columns: 100px 2fr 2fr 2fr 100px;
    }

    main.content-box>* {
        padding: 2% 3%;
    }

    div.contentwrapper {
        margin: 0%;
    }

    main>.left,
    main>.right {
        margin: 0.5rem 0.2rem;
    }
    html#frontpage{
        background-image: url("../images/skull-bg2.jpg");
    }
    button#topbutton {
        display: none;
    }

    button#topbuttonsmall {
        display: unset;
    }
}

/*Media query that does some minor changes when the viewport width is 900px or less. It alters the columns slightly, and changes some paddings and margins*/
@media screen and (max-width: 600px) {
    .right {
        grid-column-start: 1;
    }

    body {
        font-size: 16px;
    }

    div.contentwrapper {
        margin: 0 1%;
    }

    main.content-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px minmax(300px, 1fr) 1fr;
    }

    ul>li#image-link {
        display: none;
    }

    ul#nav-list>li#home-link-text {
        display: inline;
    }

    img#home-image:hover {
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul#nav-list>li>a:hover {
        font-size: 1.3em;
    }

    .center {
        grid-column-start: 1;
    }

    aside {
        grid-row-start: 3;
    }

    h1>img {
        max-width: 20px;
    }
}

/*The media query for 600px or less is a bit more drastic. It hides the top image for the banner, due to the lack of screen real-estate, and it changes the layout to have less
columns for the grid, and stacks the boxes in the case where there are two of them (homepage and contact). The footer also gets a bit wider. the grid-template for rows is also changed, so that
the last row is 1fr big, this helps make the boxes more equally sized.*/
@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 0.1em;
    }
}

/*This last query shrinks the h1 and reduces its letter spacing a little bit to make sure even the long headers are visible on very small screens.*/