table#opening-hours-table {
    width: 100%;
    align-self: center;
    border: 6px solid rgba(161, 4, 22, 0.555);
    border-radius: 10px 10px 0 0;
    border-spacing: 0;
}

/*Styling for the opening hours table.*/
table#opening-hours-table>tbody>tr>td,
table#opening-hours-table>tbody>tr>th {
    width: 50%;
    padding: 5px;
}

/*Styling for the cells of the table*/
table#opening-hours-table tr:nth-child(even),
thead {
    background-color: #A10416;
}

/*Colors tr that are evenly numbered children, using the pseudo class "nth-child" and specifying even children*/
div#hours {
    min-width: 90%;
}

table#opening-hours-table>tbody>tr:hover,
.wronginput {
    animation: 0.2s linear grow;
    animation-fill-mode: forwards;
}

address {
    line-height: 1.5em;
    text-align: left;
}

/*Adress styling*/

span.fas {
    color: #A10416;
    text-shadow: rgb(129, 7, 21) 2px 2px 4px;
}

/*Colouring the i's, containing imported font-awesome icons, and giving them some shadow*/
iframe.googlemap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*Sizing for the imported google map*/
input.amount-people {
    width: 55px;
}

fieldset {
    border: 5px groove #A10416;
}

fieldset>div.group-wrapper {
    display: flex;
    justify-content: space-between;
}

fieldset>div.group-wrapper>div,
div.button-container {
    flex-basis: 47%;
}

input {
    width: 90%;
    padding: 5px 5px;
}

input:focus {
    animation: 0.3s linear 1 forwards slightgrowth;
}

fieldset.dynamic-fields input:focus {
    width: 100%;
    padding: 5px 0;
    animation: 0.3s linear 1 forwards grow;
}

input.error {
    background-color: red;
    color: white;
    transform: scale(1.05);
}

/*class used specifically by the js to indicate where an error has occured in the validation*/
fieldset:last-child {
    border-radius: 0 0 20px 20px;
    border-top: none;
}

#reservation-form label,
legend,
span#form-requirement,
span.form-specification {
    font-size: 0.8em;
    margin: 1% 0;
}

span.form-specification {
    font-style: italic;
}

label {
    display: block;
}

textarea {
    width: 80%;
    margin: 0 auto;
    height: 90px;
}

#reservation-form>fieldset:not(#reservation-details) label::after,
span#form-requirement::first-letter,
span.ascii-asterisk,
label#time-label::after {
    content: "*";
    color: red;
}

legend {
    font-size: 1.2em;
}

/*Styling for the form. I decided to use mostly flex for the form as well, and this aided me in creating a liquid form that fits all screen sizes. */
#reservation-persons-wrapper {
    margin: 2% 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
}

/*The number fields for persons got their own wrapper to aid me in styling and positioning those specific fields.*/
.rd-days-body {
    color: black;
}

/*Simply changes color for the calendar*/
/*THE FOLLOWING CSS RULES ARE FOR THE ICE CREAM MENU AND ITS CONTENT*/
span.price {
    display: block;
    float: right;
    padding-right: 10px;
    text-transform: uppercase;
}

/*Styling for the price span that shows the price of the items. Notice that it is floated, and the parent therefore needed to ahve overflow auto
so that the item would stay inside the cointainer*/
div.menu-item,
div.button-container {
    overflow: auto;
    background-color: rgba(28, 27, 27, 0.847);
    border-radius: 10px;
    padding: 0 2%;
    margin: 2%;
}

div.menu-item:hover {
    animation: 0.3s ease-in-out 1 fadetoblack;
    animation-fill-mode: forwards;
}

/*Styling for the menu-items, which are the containers carrying the h3 names, and the text describing the ice creams, as well as the prices*/
div.ice-cream-menu>h2 {
    margin: 0;
}

hr {
    border-color: black;
}

div#menu-container {
    padding: 0;
}

div#menu-buttons {
    display: flex;
    justify-content: space-between;
}

div.menu-item, div.button-container,
button, iframe.googlemap,
table#opening-hours-table {
    box-shadow: 3px 3px 3px 3px #7a2d2d;
}

/*Gives box shadow to many elements, including menu-items, googlemap, and the table on the contact page*/
ul#button-list,
ul#button-list-filters {
    flex-wrap: wrap;
}

#menu0, #menu1, #menu2, #menu3 {
    background-image: url("../images/icecreams-menubg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#menu1 {
    background-image: url("../images/sundaes-menubg.png");
}

#menu2 {
    background-image: url("../images/mousses-menubg.png");
}

#menu3 {
    background-image: url("../images/smoothies-menubg.png");
}

.wronginput {
    color: red;
}

/*END OF ICE-CREAM MENU STYLING*/
/*Styling for the container for filter and sorting button lists, they simply need to be flex boxes to make the layout more fluid and not have the base list layout.*/
.hidden {
    display: none;
}

@keyframes fadetoblack {
    0% {
        background-color: rgba(28, 27, 27, 0.847);
    }

    100% {
        background-color: rgb(28, 27, 27);
        transform: scale(1.15);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes slightgrowth {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@media screen and (max-width:900px) {
    div#menu-buttons {
        flex-direction: column;
    }

    input.amount-people {
        width: 30px;
    }
}

/*This media query changes the direction for the menu-buttons container that contains the divs that house the sorting and filter buttons, so that
they stack on top of each other when the screen real-estate decreases. It also changes the size for the input field used for telling the form how many
people you are making a reservation for*/